# Virtual Environment
venv/
.venv/
Env/
env/

# Python Cache
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Odoo data and temporary directories
odoo.log
*.log
*.pid
data/
odoo/

# Frontend dependencies and builds
node_modules/
dist/
dist-ssr/
.env.local
.env.*.local

